#redirect-background1 {
    position:absolute;
    height: 740px;
    width: 965px;
    display: flex;
    background: url("../images/nenmayslideleft.png");
    background-repeat: no-repeat;
    left: 0px;
    z-index: 3;
    background-size: cover;
}
#redirect-background2{
    position:absolute;
    z-index: 2;
    height: 750px;
    width: 965px;
    display: flex;
    background: url("../images/nenmayslideright.png"); 
    background-repeat: no-repeat;
    background-size: cover; 
    right: 0px;
}